#banner
  .banner_content
    %h1 File It
    %p Your life's work, right where you want it.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callouts_inner
    .wrapper
      .callout
        %h2 Organize
        %p The ability to manage a business depends on great organizational skills. To be able to manage other people, you must know how to set priorities and allocate them according to each individual’s skills and abilities. A well organized manager can perform this easily while exuding confidence and control in the organization, creating a productive environment for all workers. The organizational skills of a manager are also geared toward specific tasks, such as setting project deadlines and conducting performance evaluations, all of which contributes to a more efficient work system.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path
