#banner
  .banner_content
    %h1 File It
    %p Your life's work, right where you want it.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callouts_inner
    .wrapper
      .callout
        %h2 Organize
        %p Helvetica woke franzen venmo, aesthetic freegan 3 wolf moon hashtag VHS vice af umami messenger bag photo booth wolf. Raw denim pug chia butcher master cleanse, fingerstache hot chicken etsy polaroid. Bicycle rights banh mi blog, synth gluten-free biodiesel vinyl gochujang thundercats kitsch fixie. Affogato kombucha synth slow-carb bushwick poke.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path
